# Credenciales
/Users/franciscofurey/00DataScience/comparadorPrecios/pages/credentials2.py

# Archivos generados por el sistema 
/Users/franciscofurey/00DataScience/comparadorPrecios/.ipynb_checkpoints
/Users/franciscofurey/00DataScience/comparadorPrecios/pages/__pycache__
/Users/franciscofurey/00DataScience/comparadorPrecios/pages/.ipynb_checkpoints
